<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_Mascota"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".vista_Adopcion"
            android:exported="false" />
        <activity
            android:name=".vista_avistamiento"
            android:exported="false" />
        <activity
            android:name=".AvistamientosActivity"
            android:exported="false" />
        <activity
            android:name=".Adopcion1Activity"
            android:exported="false" />
        <activity
            android:name=".AdopcionActivity"
            android:exported="false" />
        <activity
            android:name=".mascota1"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".Pantallaregistro1Activity"
            android:exported="false" />
        <activity
            android:name=".inicio_sesion"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".perdido_dashboard"
            android:exported="false" />
        <activity
            android:name=".perdido_vista"
            android:exported="false" />
        <activity
            android:name=".perdido_registro"
            android:exported="false" />
        <activity
            android:name=".OlvidasteContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".RestablecerContraseñaActivity"
            android:exported="false" />
        <activity
            android:name=".tokenActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>